* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&display=swap');

/* ------------------------ HEADER ----------------------- */

header{
    
    background-color: #002445;
}

nav {
    max-width: 1280px;
    height: 160px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: auto;
}

.nav__mil-rosarios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav__mil-rosarios-img {
    width: 240px;
}

.nav__logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img_logo-yaocalli {
    width: 80px;
    margin: 0 8px;
}

.img_logo-up {
    width: 80px;
    margin: 0 8px;
}

/* ----------------------- MAIN ------------------------- */
main {
    max-width: 1280px;
    margin: auto;
    text-align: center;
    background-image: url(../assets/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.progress-section {
    margin: 40px auto;
    max-width: 600px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.progressbar-total {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    text-align: left;
}

#progressbar-ext {
    background-color: #00244573;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    margin: 4px 0;
}

#progressbar-int {
    background-color: #002445;
    width: 10%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}

#progress-bar {
    height: 32px;
    width: 320px;
}

#progress-bar-num {
    color: #002445;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    text-align: right;
}

.contenedor-botellas {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    padding: 40px 0;
}

.main__botella {
    display: grid;
    align-items: center;
    justify-items: center;
}

.img_botella {
    max-width: 160px;
}

button {
    background-color: #002445;
    border: none;
    border-radius: 16px;
    width: 90%;
    height: 120px;
    padding: 8px;
    margin-top: 32px;
}

button p {
    color: #fff;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
}

button h3 {
    padding-bottom: 8px;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.main__botella-button-1 {
    color:#F67820;
}

.main__botella-button-2 {
    color:#E50019;
}

.main__botella-button-3 {
    color:#8ABB2A;
}

.main__botella-button-4 {
    color:#009CDC;
}

.main__botella-button-5 {
    color:#E0007A;
}

.contador{
    text-align: center;
    padding: 20px 24px;
    border-radius: 30px;
    background-color: #002445;
    color: #fff;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: -64px -70% 0 0;
}

/* ----------------------- FOOTER ------------------------- */

footer {
    height: 80px;
    background-color: #002445;
}


/* ----------------------- MEDIA QUERIES ------------------------- */

@media only screen and (max-width: 1024px) {
    nav {
        height: 120px;
        display: grid;
        grid-template-columns: 2fr 5fr 5fr;
        margin: auto;
    }

    .contenedor-botellas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
        padding: 40px 0;
    }

    .nav__mil-rosarios-img {
        width: 160px;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        height: 120px;
        display: grid;
        grid-template-columns: 2fr 5fr 5fr;
        margin: auto;
    }

    .contenedor-botellas {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        padding: 40px 0;
    }

    .nav__mil-rosarios-img {
        width: 120px;
    }
}

@media only screen and (max-width: 425px) {

    nav {
        height: 80px;
        display: grid;
        grid-template-columns: 2fr 5fr 5fr;
        margin: auto;
    }

    .progress-section {
        margin: 24px;
    }

    .contenedor-botellas {
        grid-template-columns: 1fr;
        grid-gap: 24px;
        padding: 40px 0;
    }

    .nav__mil-rosarios-img {
        width: 100px;
    }

    .img_logo-yaocalli {
        width: 40px;
    }
    
    .img_logo-up {
        width: 40px;
    }
}